@charset "ISO-8859-1";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 300px;
}

::-webkit-scrollbar {
    display: none;
}

.blue {
    color: #0066ff;
}



#sceltaDocente{
    visibility: false;
}
