@charset "ISO-8859-1";

html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 0px;
}

::-webkit-scrollbar {
	display: none;
}

.blue {
	color: #0066ff;
}

footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	height: 250px;
	background-color: #000;
	color: white;
}

@media screen and (max-width: 750px) {
	footer {
		position: absolute;
		width: 100%;
		bottom: 0px;
		height: 540px;
		background-color: #111;
		color: white;
	}
}


@media screen and (max-width: 650px) {
	footer {
		position: absolute;
		width: 100%;
		bottom: 0px;
		height: 480px;
		background-color: #111;
		color: white;
	}
}

